.login_container{
    background-color: aliceblue;
    width: fit-content;
    height:fit-content;
    padding: 90px;
    border: 1px solid red;
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 30px;
}
.login_container button{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    font-size: larger;
    border: none;
    text-align: center;
}
.login_container input{
    height: 25px;
    width: 200px;
    border: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
