.viewdetails{
    width: 100%; 
    height: 90%;
    background-color: white;
   
    position: absolute;
    top:13%;
    left:0%;
}
.cancel{
        color:red;
        position: absolute;
        right: 10px;
        top:-10px;
        cursor: pointer;
}
.cancel:hover{
    transform: scale(1.5);    
}
.details{
    display: flex;
    flex-direction: row;
  
}
.view_image{
    
    width:400px;
    height:500px;
    padding-right: 10px;

}
.view_image img{
    width: 300px;
    height: 100%;
    padding-right: 30px;
    padding: 10px;
}
/* .backgroundimage{
    background-image: url("https://cdn.vox-cdn.com/thumbor/Z3LJfrqYBdCAgH_wzwz30jwyCr8=/0x0:2100x974/1200x0/filters:focal(0x0:2100x974):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/7127761/there-is-10-wonder-woman-border-free-cliparts-all-used-for-free-1iLM0d-clipart.jpg");
    background-position:0%;
    background-repeat: no-repeat;
    background-size:contain;
  z-index: 0.1;
} */
.view_details{
    padding-left:10%;
   z-index: 1;
  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.view_details h1{
    text-decoration:underline;
    z-index: 1;
}
.view_details h4{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}